<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Order ID</th>
      <th scope="col">Stock</th>
      <th scope="col">Qty</th>
      <th scope="col">Price</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
{{#each buyStocks}}

    <tr>
      <th scope="row">{{{this.id}}}</th>
      <td><a href="/stockDetail/{{this.id}}">{{{this.stockName}}}</a></td>
      <td>{{{this.qty}}}</td>
      <td>{{{this.price}}}</td>
      <td>{{{this.date}}}</td>
    </tr>
{{/each}}
   
  </tbody>
</table>
