
<div class="container"><div class="card" >
  <div class="card-body">
    <h5 class="card-title">Order Id : {{{stockDetailId}}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">Stock Name : {{{stockDetailStockName}}}</h6>
    <h6 class="card-subtitle mb-2 text-muted">Stock Qty : {{{stockDetailQty}}}</h6>
    <h6 class="card-subtitle mb-2 text-muted">Stock Price : {{{stockDetailPrice}}}</h6>
    <h6 class="card-subtitle mb-2 text-muted">Order Date : {{{stockDetailDate}}}</h6>
  </div>
</div></div>
